<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esercizio: vue-boolzapp</title>

    <!-- link font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- link bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- link css -->
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    
    <!-- #app -->
    <div id="app">
        <!-- il codice html va qui -->
       
        <div id="web-app" class="px-2 vh-100 d-flex align-items-center ">

            <div id="main" class="container p-0 d-flex">
                <!-- PARTE SINISTRA -->
                <div id="main-sx" class="d-flex flex-column">
                    <!-- top info -->
                    <div class="info-top border d-flex justify-content-between align-items-center">
                        <!-- info personali -->
                        <div class="my-info h-100 d-flex align-items-center">
                            <div class="h-100">
                                <img src="./assets/img/avatar_io.jpg" alt="Icona Utente" class="pic-container">
                            </div>
                            
                            <div class="mx-2">
                                <span>Sofia</span>
                            </div>
                        </div>
                        <!-- icone opzioni -->
                        <div class="icon-options d-flex">
                            <i class="fa-solid fa-circle-notch "></i>
                            <i class="fa-solid fa-message ms-3"></i>
                            <i class="fa-solid fa-ellipsis-vertical ms-3"></i>
                        </div>
                    </div>
                    <!-- ricevi notifiche -->
                    <div id="notification" class="py-2 ps-3 d-flex align-items-center">
                        <i class="fa-solid fa-bell-slash bg-light rounded-circle fs-4 p-2"></i>

                        <div class="ms-2">
                            <span class="d-block">
                                Ricevi notifiche di nuovi messaggi
                            </span>
                            <span class="secondary-text text-decoration-underline cursor-pointer">
                                Attiva notifiche desktop
                            </span>
                        </div>
                    </div>
                    <!-- input ricerca chat -->
                    <div id="search-chat" class="d-flex p-2">
                        <div class="w-25 text-center border d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-magnifying-glass text-secondary"></i>
                        </div>
                        <input type="text" placeholder=" Cerca o inizia una nuova chat" class="w-75 border">
                    </div>

                    <!-- lista chat -->
                    <div id="chat-list" class="overflow-auto">
                        
                        <div class="chat-card p-2 border cursor-pointer" v-for="(elem, index) in contacts" :key="index"  @click="setIndiceDinamico(index) ; setActive()" >
                            <img v-bind:src="imgPath + elem.avatar" alt="Icona Utente" class="rounded-circle">
                            <div class="w-100 ps-2">
                                <div>{{elem.name}}</div>
                                <div class="secondary-text">
                                    {{elem.messages[elem.messages.length - 1].message}}
                                </div>
                            </div>
                            <div>
                                <span class="secondary-text">12:00</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PARTE DESTRA -->
                <div id="main-dx" class="d-flex flex-column">
                    <!-- top info -->
                    <div class="info-top border d-flex justify-content-between align-items-center">
                        
                        <div class="h-100 d-flex align-items-center">

                            <img  v-bind:src="imgPath + contacts[indiceDinamico].avatar" alt="Icona Utente" class="pic-container">

                            <div class="mx-2">
                                <div class="fw-bold lh-1">{{contacts[indiceDinamico].name}}</div>
                                <span class="secondary-text">Ultimo accesso oggi {{contacts[indiceDinamico].messages[ [contacts[indiceDinamico].messages.length - 1] ].date.split(' ')[1]}}</span>
                            </div>
                        </div>

                        <div class="icon-options d-flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip ms-3"></i>
                            <i class="fa-solid fa-ellipsis-vertical ms-3"></i>
                        </div>

                    </div>
                    <!-- chat attiva -->
                    <div id="chat" class="overflow-auto p-3">
                        <div v-for="(elem, index) in contacts[indiceDinamico].messages" :key="index" :class="(elem.status === 'sent') ? 'sent' : 'receveid' ">
                            <div>{{elem.message}}</div>
                            <div class="secondary-text text-end">{{ elem.date.split(' ')[1].split(':')[0] + ':' + elem.date.split(' ')[1].split(':')[1]}}</div>
                        </div>
                    </div>
                    <!-- scrivi un messaggio -->
                    <div id="write-msg" class="p-3 d-flex align-items-center justify-content-between">
                        <i class="fa-regular fa-face-smile fs-5 cursor-pointer"></i>
                        <input type="text" minlength="1" class="h-100 py-2 px-3 w-100 mx-3" placeholder="Scrivi un messaggio" v-model=" messageVariable " @KeyUp.enter=" getDate() ; newMessageFunction(indiceDinamico) ;  getRandomText() ; replyFunctionTimeout(indiceDinamico)"> <!-- replyFunction(indiceDinamico) -->
                        <i class="fa-solid fa-microphone fs-5 cursor-pointer"></i>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <!-- link Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!-- link bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- link Luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    
    <!-- Vue 3-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- link js -->
    <script src="./assets/js/main.js"></script>
</body>
</html>