/* UTILITY  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    margin: 0;
}

.height-10 {
    height: 10%;
}


.pic-container {
    height: 100%;
    clip-path: circle();
}

.cursor-pointer {
    cursor: pointer;
}

.secondary-text {
    color: gray;
    font-size: small;
}


/* GENERAL */
#web-app {
    background: linear-gradient(0deg, rgba(217,219,212,1) 80%, rgba(0,148,133,1) 80%);
}

#main {
    background-color: white;
    height: 95%;
}

#main-dx {
    width: 30%;
}

#main-sx {
    width: 70%;
}

.info-top {
    background-color: rgb(234,234,234);
    padding: 0.5rem 1rem ;
}

.icon-options {
    color: gray;
}

/* --- LISTA CHAT */
#notification {
    background-color: rgb(142,218,252);
}
.fa-bell-slash {
    color: rgb(142,218,252);
}


#search-chat {
    height: 50px;
    background-color: rgb(250,250,250);
}

.chat-card {
    display: flex;
    justify-content: space-between;
}

.chat-card img {
    width: 70px;
}

/* --- CHAT PRINCIPALE */
#chat {
    background-image: url(../img/mine.jpg);
    height: 80%;

}

#write-msg {
    background-color: rgb(243,238,234);
}